table {
    border-collapse: collapse;
    position: 50%;
    font-size: 3ch;
    font-family: sans-serif;
    position: fixed; /* or absolute */
    left: 45%;
    background-color: white;
    
  }
  
  table, th, td {
    border: 1px solid black;
  }


  th,td{

    padding: 1px;
    
}
.link{

    text-align: center;

}

.nome{

    padding: 5px;
    text-align: left;

}

.cabecalho{


    padding: 5px;
}


